
body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #E0B0FF;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: blue;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.activity {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 200px;
}

input, select {
    width: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#history-table .tooltip {
    visibility: visible;
    opacity: 1;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
}

#history-page-tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

th {
    background-color: #f2f2f2;
}
